.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: darkgray;
  padding: 8px;
  gap: 8px;
}

.nav a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 4px;
}
.nav a:hover {
  color: yellow;
}

.nav .active {
  color: yellow;
}